In [1]:
import pandas as pd

df=pd.read_csv('d:/data/steam/steam2.csv')
df=df.drop(labels=['release_date','platforms','categories','steamspy_tags'], axis=1)
df

,days_after_releasing,english,required_age,achievements,average_playtime,median_playtime,owners,price,positive_ratings,negative_ratings,...,Web Publishing,Werewolves,Western,Word Game,World War I,World War II,Wrestling,Zombies,e-sports,p-n ratio
0,6769,1,0,0,17612,317,15000000,7.19,124534,3339,...,0,0,0,0,0,0,0,0,0,37.296795
1,7349,1,0,0,277,62,7500000,3.99,3318,633,...,0,0,0,0,0,0,0,0,0,5.241706
2,5858,1,0,0,187,34,7500000,3.99,3416,398,...,0,0,0,0,0,1,0,0,0,8.582915
3,6557,1,0,0,258,184,7500000,3.99,1273,267,...,0,0,0,0,0,0,0,0,0,4.767790
4,7135,1,0,0,624,415,7500000,3.99,5250,288,...,0,0,0,0,0,0,0,0,0,18.229167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26546,21,1,0,7,0,0,10000,2.09,3,0,...,0,0,0,0,0,0,0,0,0,3.000000
26547,22,1,0,0,0,0,10000,1.69,8,1,...,0,0,0,0,0,0,0,0,0,8.000000
26548,21,1,0,24,0,0,10000,3.99,0,1,...,0,0,0,0,0,0,0,0,0,0.000000
26549,28,1,0,0,0,0,10000,5.19,2,0,...,0,0,0,0,0,0,0,0,0,2.000000
26550,21,1,0,0,0,0,10000,5.19,4,0,...,0,0,0,0,0,0,0,0,0,4.000000

In [21]:
df2=df[df.columns[0:13]]
df2

,days_after_releasing,english,required_age,achievements,average_playtime,median_playtime,owners,price,positive_ratings,negative_ratings,linux,mac,windows
0,6769,1,0,0,17612,317,15000000,7.19,124534,3339,1,1,1
1,7349,1,0,0,277,62,7500000,3.99,3318,633,1,1,1
2,5858,1,0,0,187,34,7500000,3.99,3416,398,1,1,1
3,6557,1,0,0,258,184,7500000,3.99,1273,267,1,1,1
4,7135,1,0,0,624,415,7500000,3.99,5250,288,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26546,21,1,0,7,0,0,10000,2.09,3,0,0,0,1
26547,22,1,0,0,0,0,10000,1.69,8,1,0,0,1
26548,21,1,0,24,0,0,10000,3.99,0,1,0,0,1
26549,28,1,0,0,0,0,10000,5.19,2,0,0,1,1
26550,21,1,0,0,0,0,10000,5.19,4,0,0,1,1

In [22]:
df_cate=df.loc[:,['Single-player_cate','Steam Achievements_cate','Steam Trading Cards_cate',
'Steam Cloud_cate','Full controller support_cate','Partial Controller Support_cate',
'Multi-player_cate','Steam Leaderboards_cate','Online Multi-Player_cate','Shared/Split Screen_cate']]
df_cate

,Single-player_cate,Steam Achievements_cate,Steam Trading Cards_cate,Steam Cloud_cate,Full controller support_cate,Partial Controller Support_cate,Multi-player_cate,Steam Leaderboards_cate,Online Multi-Player_cate,Shared/Split Screen_cate
0,0,0,0,0,0,0,1,0,1,0
1,0,0,0,0,0,0,1,0,1,0
2,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,1,0,1,0
4,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
26546,1,1,0,0,0,0,0,0,0,0
26547,1,0,0,0,0,0,0,0,0,0
26548,1,1,0,1,1,0,1,0,0,1
26549,1,0,0,1,0,0,0,0,0,0
26550,1,0,0,1,0,0,0,0,0,0

In [23]:
df_steamspy=df.loc[:,['Indie','Action','Casual','Adventure','Strategy','Simulation','Early Access','RPG','Free to Play',
'Puzzle']]
df_steamspy

,Indie,Action,Casual,Adventure,Strategy,Simulation,Early Access,RPG,Free to Play,Puzzle
0,0,1,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
26546,1,0,1,1,0,0,0,0,0,0
26547,1,1,0,1,0,0,0,0,0,0
26548,1,1,1,0,0,0,0,0,0,0
26549,1,0,1,1,0,0,0,0,0,0
26550,1,0,1,1,0,0,0,0,0,0

In [24]:
df_y=df[df.columns[-1]]
df_y

0        37.296795
1         5.241706
2         8.582915
3         4.767790
4        18.229167
           ...
26546     3.000000
26547     8.000000
26548     0.000000
26549     2.000000
26550     4.000000
Name: p-n ratio, Length: 26551, dtype: float64

In [25]:
import pandas as pd

df2=pd.concat([df2,df_cate], axis=1)
df2=pd.concat([df2,df_steamspy], axis=1)
df2=pd.concat([df2,df_y], axis=1)
df2

,days_after_releasing,english,required_age,achievements,average_playtime,median_playtime,owners,price,positive_ratings,negative_ratings,...,Action,Casual,Adventure,Strategy,Simulation,Early Access,RPG,Free to Play,Puzzle,p-n ratio
0,6769,1,0,0,17612,317,15000000,7.19,124534,3339,...,1,0,0,0,0,0,0,0,0,37.296795
1,7349,1,0,0,277,62,7500000,3.99,3318,633,...,1,0,0,0,0,0,0,0,0,5.241706
2,5858,1,0,0,187,34,7500000,3.99,3416,398,...,0,0,0,0,0,0,0,0,0,8.582915
3,6557,1,0,0,258,184,7500000,3.99,1273,267,...,1,0,0,0,0,0,0,0,0,4.767790
4,7135,1,0,0,624,415,7500000,3.99,5250,288,...,1,0,0,0,0,0,0,0,0,18.229167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26546,21,1,0,7,0,0,10000,2.09,3,0,...,0,1,1,0,0,0,0,0,0,3.000000
26547,22,1,0,0,0,0,10000,1.69,8,1,...,1,0,1,0,0,0,0,0,0,8.000000
26548,21,1,0,24,0,0,10000,3.99,0,1,...,1,1,0,0,0,0,0,0,0,0.000000
26549,28,1,0,0,0,0,10000,5.19,2,0,...,0,1,1,0,0,0,0,0,0,2.000000
26550,21,1,0,0,0,0,10000,5.19,4,0,...,0,1,1,0,0,0,0,0,0,4.000000

In [26]:
df2.to_csv('d:/data/steam/steam_final.csv', sep=',')